{% extends 'base.html' %}
{% block content %}
<div class="container round-border">
    <div class="row">
        <div class='col-6'>
            <img src="../../static/images/car.png" alt="car" class='img-fluid'></img>
        </div>
        <div class="col-6 text-center my-auto">
            Sit on car
        </div>
    </div>
</div>
<div class="content-spacer"></div>
<div class="container round-border">
    <div class="row">
        <div class='col-6'>
            <img src="../../static/images/city car.png" alt="car" class='img-fluid'></img>
        </div>
        <div class="col-6 text-center my-auto">
            Drive car in the city
        </div>
    </div>
</div>
{% endblock content %}